{
    "Symfony Messenger AsMessageHandler attribute": {
        "prefix": "asMessageHandler",
        "scope": "php",
        "body": "#[AsMessageHandler]",
        "description": "Symfony Messenger AsMessageHandler attribute"
    },
    "Symfony Messenger AsMessage attribute": {
        "prefix": "asMessage",
        "scope": "php",
        "body": "#[AsMessage('${1:async}')]",
        "description": "Symfony Messenger AsMessage attribute"
    },
    "Symfony Messenger Message class (readonly)": {
        "prefix": "message",
        "body": [
            "<?php\n",
            "namespace ${3:$CUSTOM_NAMESPACE_REGEX};\n",
            "readonly class ${4:$TM_FILENAME_BASE}",
            "{",
            "\tpublic function __construct(",
            "\t\tpublic ${1|$PHP_VARIABLE_TYPE|} \\$${2:value},",
            "\t) {",
            "\t}",
            "}"
        ],
        "description": "Symfony Messenger Message class (readonly)"
    },
    "Symfony Messenger Message Handler class": {
        "prefix": "messageHandler",
        "body": [
            "<?php\n",
            "namespace ${3:$CUSTOM_NAMESPACE_REGEX};\n",
            "use Symfony\\Component\\Messenger\\Attribute\\AsMessageHandler;",
            "use ${5:App\\\\Message\\\\Message};\n",
            "#[AsMessageHandler]",
            "class ${4:$TM_FILENAME_BASE}",
            "{",
            "\tpublic function __invoke(${6:Message} \\$message): void",
            "\t{",
            "\t\t$7",
            "\t}",
            "}"
        ],
        "description": "Symfony Messenger Message Handler class"
    }
}
